<app-admin-header titulo="Denuncias Admin">

</app-admin-header>


<ion-content class="center">


    <h2 class="title-resultado">Listado de Denuncias</h2>
  
    <ion-grid>
      <ion-row>
          
        <ion-col>
          <p></p>
        </ion-col>

        <ion-col>
          <p></p>
        </ion-col>

        <ion-col>
          <p></p>
        </ion-col>

        <ion-col>
          <p></p>
        </ion-col>

        <ion-col>
          <p></p>
        </ion-col>

        <ion-col>
          <p></p>
        </ion-col>

        <ion-col>
          <p></p>
        </ion-col>

        <ion-col>
          <p></p>
        </ion-col>

        <ion-col>
          <p></p>
        </ion-col>

        <ion-col>
            <ion-icon  name="share-social-outline"></ion-icon>
        </ion-col>

        <ion-col>
          <ion-icon  name="create-outline"></ion-icon>
        </ion-col>

        <ion-col>
          <ion-icon  name="trash-outline"></ion-icon>
        </ion-col>

      </ion-row>
    </ion-grid>
  
  </ion-content>