<app-admin-header titulo="Denuncias Admin">

</app-admin-header>


<ion-content class="center">


    <h2 class="title-resultado">Listado de Denuncias</h2>
    
    <ion-list *ngFor="let denuncia of denuncias" (click)="redirectTo(denuncia)">
      <ion-list-header>
        Denuncias realizadas
      </ion-list-header>

      
      <ion-item-sliding>
        
        <ion-item>
          <ion-label>
            <h2>{{ denuncia.descripcion_denuncia }}</h2>
            <h3>{{ denuncia.fecha_denuncia }} </h3>
          </ion-label>
        </ion-item>
 
        
        <ion-item-options side="end">
          <ion-item-option>Editar</ion-item-option>
          <ion-item-option color="success">Actualizar</ion-item-option>
          <ion-item-option color="danger">Eliminar</ion-item-option>
        </ion-item-options>
         
      </ion-item-sliding>
      
    </ion-list>
  
  </ion-content>