ion-label {
    width: 100%;
    display: block;
}

ion-select {
    width: 100%;
}

ion-datetime {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #d1d1d1;
    --padding-start: 0.8em;
}
