
<ion-content>

  <div class="background-opacity"></div>
  
  <div class="container">

    <div class="header-container">
      <img src="assets/icon/white-icon.png" alt="Blue icon">
      <h1>CENTRO DE DENUNCIAS</h1>
    </div>
  
    <div class="form-container">
      <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
        
        <ion-list>

          <div class="icon-container">
            <img src="assets/icon/blue-icon.png" alt="Blue icon">
          </div>
      
          <ion-item>
            <ion-label position="floating">Nombre y Apellido</ion-label>
            <ion-input type="text" formControlName="name">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" 
                      name="email"
                      pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-zA-Z]{2,4}"
                      formControlName="email"
                      required>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">C.I</ion-label>
            <ion-input type="text" formControlName="ci">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input type="text" formControlName="telefono">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Barrio</ion-label>
            
              
              <ion-select formControlName="id_barrio">
                <ion-select-option *ngFor="let barrio of barrios" [value]="barrio.id">{{ barrio.descripcion }}</ion-select-option>
              </ion-select>
            
          </ion-item>
          <!-- admin -->
          <ion-item *ngIf="user && user.role && user.role.nivel == 1">
            <ion-label position="floating">Rol Usuario</ion-label>
              
              <ion-select formControlName="id_role">
                <ion-select-option *ngFor="let rol of roles" [value]="rol.id">{{ rol.nivel }}</ion-select-option>
              </ion-select>
            
          </ion-item>

          <!-- <ion-item *ngIf="es administrador">
            <ion-label position="floating">Role</ion-label>
            
              
              <ion-select formControlName="id_barrio">
                <ion-select-option *ngFor="let barrio of barrios" [value]="barrio.id">{{ barrio.descripcion }}</ion-select-option>
              </ion-select>
            
          </ion-item> -->

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" formControlName="password">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Confirmar Contraseña</ion-label>
            <ion-input type="password" formControlName="password_confirmation">
            </ion-input>
          </ion-item>
          
          <div class="extra-container" *ngIf="!user">
            <div class="button-group">
              <ion-button 
                expand="block"
                shape="round"
                type="submit"
                [disabled]="registroForm.invalid"
                color="primary">
                REGISTRARSE
              </ion-button>
            </div>
  
            <div class="login-container">
              Ya tienes una cuenta? <a [routerLink]="['/login']" routerLinkActive="router-link-active" >Iniciar Sesión</a>
            </div>
          </div>

          <div class="extra-container" *ngIf="user && user.role && user.role.nivel == 1">
            <div class="button-group">
              <ion-button 
                expand="block"
                shape="round"
                type="submit"
                [disabled]="registroForm.invalid"
                color="primary">
                REGISTRAR
              </ion-button>
            </div>
          </div>

        </ion-list>
      </form>
    </div>
  </div>
</ion-content>


