
<ion-content class="center">
  <div class="background-opacity"></div>
  
  <div class="container">
    <app-header titulo="Agregar Noticia"></app-header>

    <div class="header-container">
      <img src="assets/icon/white-icon.png" alt="Blue icon">
    </div>

    <div class="form-container">
      <form [formGroup]="noticiasForm" (ngSubmit)="onSubmit()" >
        <ion-list>

          <div class="subheader">
            <h2>Enviar Noticia</h2>
            <p>Para poder enviar la noticia por favor complete los campos.</p>
          </div>

          <app-select-image (resultados)="imagenesSeleccionadas($event)"></app-select-image>

          <ion-item>
            <ion-label position="floating">Titulo</ion-label>
            <ion-input type="text" formControlName="titulo_noticia">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Descripción Noticia</ion-label>
            <ion-textarea placeholder="Descripción noticia..." formControlName="descripcion_noticia"></ion-textarea>
          </ion-item>

        </ion-list>

        <div class="images-container">
          <div class="subheader">
            <h2>Imagenes seleccionadas</h2>
            <p *ngIf="!previewImages.length">No hay imagenes seleccionadas</p>
            <p *ngIf="previewImages.length">Toca la imagen para eliminar</p>
          </div>

          <app-preview-images [previewImages]="previewImages"></app-preview-images>
        </div>

        <div class="button-group">
          <ion-button 
              shape="round"
              type="submit"
              [disabled]="noticiasForm.invalid"
              color="primary">
              Enviar
          </ion-button>
        </div>
      </form>
    </div>
  </div>

</ion-content>
