<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>

    <!-- <ion-back-button text="Regresar" defaultHref="/" ></ion-back-button> -->
    <!-- <ion-buttons slot=start>
      <ion-button (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>  -->

    <ion-title text-capitalize>{{ titulo }}</ion-title>

    <ion-avatar slot="end" color="success" (click)="redirectTo(contacto)">
      <img src="assets/images/chat.jpg"/>
    </ion-avatar>
    <!-- <ion-icon name="chatbubbles"></ion-icon> -->
      <!-- <ion-fab vertical="top" horizontal="end" slot="end">
        <ion-fab-button class="ifab" size="small"  color="primary">
        </ion-fab-button>
      </ion-fab>
         -->

  </ion-toolbar>
</ion-header>