.card-denuncia {
    width: 100%;
    --background: #F6F6F6;
    box-shadow: none;
    margin-bottom: 0px;
    ion-card-content {
        padding: 0px;
    }
    h2 {
        margin: 0px;
    }
    ion-fab-button {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }
    .fab-horizontal-center {
        margin-left: unset;
        margin-inline-start: -50px !important;
    }
    ion-icon {
        font-size: 15px;
    }
    .fecha-denuncia {
        font-size: 11px;
    }
    .denuncia-title {
        font-size: 20px;
    }
}