<ion-item>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" size-xs="6">
        <ion-button
          size="large"
          color="secondary"
          (click)="camara()">
          <ion-icon slot="start" name="camera"></ion-icon>
        </ion-button>       
      </ion-col>
  
      <ion-col size="6" size-xs="6">
        <ion-button
          size="large"
          color="secondary"
          (click)="libreria()">
          <ion-icon slot="start" name="images"></ion-icon>
        </ion-button>       
      </ion-col>
    </ion-row>   
  </ion-grid>

  <ion-row>
    <ion-col size="6" *ngFor="let image of tempImages; let index = index;">
      
      <ion-card>
        <ion-icon (click)="confirmarEliminacion(index)" size="small" name="close-circle"></ion-icon>
        
        <img [src]="image | imageSanitizer">

      </ion-card>

      
    </ion-col>
  </ion-row>

</ion-item>