<ion-content class="main">

  <div class="background-opacity"></div>

  <div class="container">
      <app-header [titulo]="title"></app-header>

      <div class="header-container">
          <img src="assets/icon/white-icon.png" alt="Blue icon">
      </div>

      <div class="form-container">
          <div class="page-container" *ngIf="type != 'contacto'">
            <!-- MISIÓN -->
            <div *ngIf="type == 'mision'">
              <h1>Misión</h1>
              <p>
                Yregua tiene como misión hacer de Caacupé una ciudad ecológicamente saludable,
                innovadora, atractiva y sustentable, generando espacios de concientización para
                el cuidado de los cauces hídricos a través de denuncias generadas como un complemento
                moderno de denuncias sobre las contaminaciones.
              </p>
            </div>

            <!-- VISIÓN -->
            <div *ngIf="type == 'vision'">
              <h1>Visión</h1>
              <p>
                Yregua tiene como visión hacer de Caacupé una ciudad saludable, higiénica y atractiva,
                adaptada en hechos de manera equitativa por la ciudadanía, ejecutando obras de buenos hábitos
                y promoviendo el cuidado de los cauces hídricos para el desarrollo integral y sostenible del
                municipio.
              </p>
            </div>
          </div>
            
          <!-- CONTACTO -->
          <div *ngIf="type == 'contacto'">
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

              <ion-list>

                <div class="icon-container">
                  <img src="assets/icon/blue-icon.png" alt="Blue icon">
                </div>

                <ion-item>
                  <ion-label position="floating">Nombre:</ion-label>
                  <ion-input type="text" formControlName="nombre"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Asunto:</ion-label>
                  <ion-textarea formControlName="descripcion"></ion-textarea>
                </ion-item>

                <div class="button-group">
                  <ion-button 
                    expand="block"
                    shape="round"
                    type="submit"
                    [disabled]="contactForm.invalid"
                    color="primary">
                    CONTACTAR
                  </ion-button>
                </div>
              </ion-list>

            </form>
          </div>
      </div>

  </div>

</ion-content>