<ion-content class="main">

  <div class="background-opacity"></div>

  <div class="container">
      <app-header [titulo]="title"></app-header>

      <div class="header-container">
          <img src="assets/icon/white-icon.png" alt="Blue icon">
      </div>

      <div class="form-container">
          <div class="page-container" *ngIf="type != 'contacto'">
            <!-- MISIÓN -->
            <div *ngIf="type == 'mision'">
              <h1>Misión</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Blanditiis fuga voluptate quos voluptatem. Velit illum eveniet, dolore aperiam,
                id amet voluptatibus ipsum consequatur quas quam, rem incidunt inventore laudantium odit!
              </p>
            </div>

            <!-- VISIÓN -->
            <div *ngIf="type == 'vision'">
              <h1>Visión</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Blanditiis fuga voluptate quos voluptatem. Velit illum eveniet, dolore aperiam,
                id amet voluptatibus ipsum consequatur quas quam, rem incidunt inventore laudantium odit!
              </p>
            </div>
          </div>
            
          <!-- CONTACTO -->
          <div *ngIf="type == 'contacto'">
            <form [formGroup]="contactForm">

              <ion-list>

                <div class="icon-container">
                  <img src="assets/icon/blue-icon.png" alt="Blue icon">
                </div>

                <ion-item>
                  <ion-label position="floating">Nombre:</ion-label>
                  <ion-input type="text" formControlName="name"></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="floating">Asunto:</ion-label>
                  <ion-textarea formControlName="subject"></ion-textarea>
                </ion-item>

                <div class="button-group">
                  <ion-button 
                    expand="block"
                    shape="round"
                    type="submit"
                    [disabled]="contactForm.invalid"
                    color="primary">
                    CONTACTAR
                  </ion-button>
                </div>
              </ion-list>

            </form>
          </div>
      </div>

  </div>

</ion-content>