<app-header titulo="Agregar Denuncias">
  
</app-header>

<ion-content [fullscreen]="true">

  <h2>Agregar Denuncias</h2>


  <form [formGroup]="denunciaForm" (ngSubmit)="onSubmit()">
    <ion-list>
    
      <app-mapa [coords]="ubicacion.coords" [ngClass]="{'d-none': !ubicacion.posicion}"></app-mapa>

      <ion-item>
        <ion-label>Ubicación</ion-label>
        <ion-spinner name="lines-small"
        *ngIf="cargandoGeo"></ion-spinner>
        <ion-toggle slot="end"
                    [(ngModel)]="ubicacion.posicion"
                    [ngModelOptions]="{standalone: true}"
                    (ionChange)="getGeo()"></ion-toggle>
                  </ion-item>
                  
      <ion-item>
        <app-select-image (resultados)="imagenesSeleccionadas($event)"></app-select-image>

      </ion-item>

      <ion-item>
        <ion-label position="floating">Descripción Denuncia</ion-label>
        <ion-textarea formControlName="descripcion_denuncia"></ion-textarea >
      </ion-item>
                  
      <ion-button 
          expand="full"
          type="submit"
          [disabled]="denunciaForm.invalid"
          color="success">
          {{ denunciaForm.value.id ? 'Actualizar' : 'Enviar' }}
      </ion-button>

      <!-- <div *ngIf="user && user.role.nivel == 1"></div> Comprobacion por rol de usuario -->

    </ion-list>
  </form>
</ion-content>
