
<ion-content>
  
  <div class="background-opacity"></div>
  
  <div class="container">
    <app-header titulo="Agregar Denuncias"></app-header>

    <div class="header-container">
      <img src="assets/icon/white-icon.png" alt="Blue icon">
    </div>

    <div class="form-container">
  
      <form [formGroup]="denunciaForm" (ngSubmit)="onSubmit()">
        <ion-list>
    
          <div class="subheader">
            <h2>Enviar Denuncia</h2>
            <p>Para poder enviar su denuncia por favor complete los campos.</p>
          </div>

          <app-select-image (resultados)="imagenesSeleccionadas($event)"></app-select-image>
    
          <ion-item>
            <ion-label position="floating" class="d-none">Barrio</ion-label>
            <ion-select formControlName="id_barrio" placeholder="Barrio">
              <ion-select-option *ngFor="let barrio of barrios" [value]="barrio.id">{{ barrio.descripcion }}</ion-select-option>
            </ion-select>
          </ion-item>
    
          <ion-item>
            <ion-label position="floating">Descripción Denuncia</ion-label>
            <ion-textarea placeholder="Descripción..." formControlName="descripcion_denuncia"></ion-textarea >
          </ion-item>
  
          <ion-item>
            <ion-label class="location-text">Enviar Ubicación</ion-label>
            <ion-spinner *ngIf="cargandoGeo" name="lines-small" ></ion-spinner>
          </ion-item>
  
          <ion-item class="checkbox-item">
            <ion-toggle
              [(ngModel)]="ubicacion.posicion"
              [ngModelOptions]="{standalone: true}"
              (ionChange)="getGeo()">
            </ion-toggle>
          </ion-item>
                      
        </ion-list>

        <div class="images-container">
          <div class="subheader">
            <h2>Imagenes seleccionadas</h2>
            <p *ngIf="!previewImages.length">No hay imagenes seleccionadas</p>
            <p *ngIf="previewImages.length">Toca la imagen para eliminar</p>
          </div>

          <app-preview-images [user]="user" [denuncia]="denunciaForm.value" [type]="0" [previewImages]="previewImages"></app-preview-images>
        </div>

        <div class="map-container">
          <div class="subheader">
            <h2>Ubicación</h2>
          </div>

          <app-mapa></app-mapa>
        </div>
  
        <div class="button-group">
          <ion-button
              shape="round"
              type="submit"
              [disabled]="denunciaForm.invalid"
              color="primary">
              {{ denunciaForm.value.id ? 'Actualizar' : 'Enviar' }}
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
