<!-- <ion-header>
  <ion-toolbar color="success">

    <ion-buttons  slot="end">
      <ion-button (click)="mostrarPopVision($event)"  color="light">
        <label class="header" color="light">Visión</label>
      </ion-button>
    </ion-buttons>
  
    <ion-buttons  slot="end">
      <ion-button (click)="mostrarPopMision($event)" color="light">
        <label class="header" color="light">Misión</label>
      </ion-button>
    </ion-buttons>
   
    <ion-buttons  slot="end">
      <ion-button (click)="mostrarPopContacto($event)" color="light">
        <label class="header" color="light">Contacto</label>
      </ion-button>
    </ion-buttons>    

</ion-toolbar>
</ion-header> -->

<ion-content>
    
  <div class="background-opacity"></div>
  
  <div class="container">
    <app-header titulo="Noticias"></app-header>

    <div class="header-container">
      <img src="assets/icon/white-icon.png" alt="Blue icon">
    </div>
  
    <div class="form-container">
      <ion-searchbar mode="ios" placeholder="Buscar noticias" type="text" (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
  
      <div class="trending">

        <h3>DESTACADOS</h3>

        <div class="news-container" *ngIf="noticia">
          <div class="selected-news" (click)="redirectTo(noticia)" [style.background-image]="'url(' + (noticia.imagenes | comprobarImagen) + ')'">
            <div class="info">
              <div class="title">{{ noticia.titulo }}</div>
              <div class="description">{{ noticia.descripcion.slice(0, 30) }}...</div>
              <div class="date">{{ noticia.created_at | formatDate }}...</div>
            </div>
          </div>
  
          <ion-slides pager="true" class="slide-full" [options]="slideOpts">
            <ion-slide *ngFor="let noticia of noticias" (click)="changeSelection(noticia)">
              <div class="image" [style.background-image]="'url(' + (noticia.imagenes | comprobarImagen) + ')'"></div>
            </ion-slide>
          </ion-slides>
        </div>

        <div class="news-container" *ngIf="!noticia">
          <h4>No hay noticias recientes</h4>
        </div>
      </div>
    </div>
  </div>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregarDenuncia()" color="primary">
      <ion-icon name="paper-plane"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>