
<ion-tabs>
  
  <ion-tab-bar slot="bottom" color="success">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="verdenuncias">
      <ion-icon name="megaphone"></ion-icon>
      <!-- <ion-label>Ver Denuncias</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="resultados">
      <ion-icon name="eye"></ion-icon>
      <!-- <ion-label>Ver Resultados de obras</ion-label> -->
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
