<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-list>
    
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" 
                   name="email"
                   pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-zA-Z]{2,4}"
                   formControlName="email"
                   required>
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password">
        </ion-input>
      </ion-item>
      
      <ion-button 
                expand="full"
                type="submit"
                [disabled]="loginForm.invalid"
                color="success">
        Enviar
      </ion-button>

    </ion-list>
  </form>
</ion-content>
