<ion-content class="main">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
      <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Suelta para actualizar el listado" refreshingSpinner="circles" refreshingText="Actualizando..."></ion-refresher-content>
  </ion-refresher>

  <div class="background-opacity"></div>

  <div class="container">
      <app-header titulo="Mis Denuncias"></app-header>

      <div class="header-container">
          <img src="assets/icon/white-icon.png" alt="Blue icon">
      </div>

      <div class="form-container">
          <div class="page-container">
              <ion-grid>
                  <ion-row class="sincronizar">
                      <ion-col size="12">
                          <ion-searchbar mode="ios" placeholder="Buscar"></ion-searchbar>
                      </ion-col>
                  </ion-row>
              </ion-grid>
      
              <ion-grid *ngIf="denuncias.length">
                  <ion-row *ngFor="let denuncia of denuncias">
                    <app-card-denuncia [user]="user" [denuncia]="denuncia" [estado]="denuncia.estado" style="width: 90%;"  (deleteDenuncia)="confirmarEliminacion(denuncia)"></app-card-denuncia>
                      <!-- <app-card-denuncia [denuncia]="denuncia" [estado]="denuncia.estado" style="width: 90%;"  (click)="detalle(denuncia)"></app-card-denuncia> -->
                    </ion-row>

                  <ion-infinite-scroll [disabled]="infScrollDisabled" threshold="150px" (ionInfinite)="scrolling = true; obtenerDenuncias($event)">
                      <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando..."></ion-infinite-scroll-content>
                  </ion-infinite-scroll>
              </ion-grid>

              <ion-grid *ngIf="!denuncias.length" class="no-results">
                  <ion-row>
                      <ion-col size="12">
                          <h4>No hay denuncias realizadas</h4>
                      </ion-col>
                  </ion-row>
              </ion-grid>
          </div>
      </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="agregarDenuncia()" color="primary">
          <ion-icon name="paper-plane"></ion-icon>
      </ion-fab-button>
  </ion-fab>

</ion-content>