<ion-content class="main">

    <div class="background-opacity"></div>

    <div class="container">
        <app-header titulo="Mis Denuncias"></app-header>

        <ion-grid fixed class="page-container">

            <ion-grid>
                <ion-row class="sincronizar">
                    <ion-col size="12">
                        <ion-searchbar placeholder="Buscar"></ion-searchbar>
                    </ion-col>
                </ion-row>
            </ion-grid>


            <ion-grid>
                <ion-row *ngFor="let denuncia of denuncias" (click)="redirectTo(denuncia)">
                    <app-card-denuncia [denuncia]="denuncia" [estado]="denuncia.estado" style="width: 90%;">
                    </app-card-denuncia>
                </ion-row>
            </ion-grid>

        </ion-grid>

    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="agregarDenuncia()" color="primary">
            <ion-icon name="paper-plane"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>