<app-header titulo="Ver Denuncias"></app-header>

<ion-content class="center">


  <h2 class="title-denuncia">Denuncias realizadas</h2>
  
  <ion-button color="primary" (click)="userDenuncia()">Mis denuncias</ion-button>
  
  <ion-grid>
    <ion-row *ngFor="let denuncia of denuncias" (click)="redirectTo(denuncia)">
      
        <ion-card class="card_w">
          <ion-card-header>
            <ion-card-title>Denuncia Realizada</ion-card-title>
            <ion-card-subtitle>{{ denuncia.fecha_denuncia }}</ion-card-subtitle>
          </ion-card-header>
          
          <img [src]="denuncia.imagenes | comprobarImagen" class="slide-image" width="50%" >

          <ion-card-content>
            {{ denuncia.descripcion_denuncia }}
          </ion-card-content>
      </ion-card>
      
    </ion-row>
  </ion-grid>

</ion-content>



