<ion-header>
  <ion-toolbar color="success">

</ion-toolbar>
</ion-header>

<ion-content class="center">
    
      <h2 class="title-fonts">Noticias</h2>

      <ion-list>
        
        <ion-item *ngIf="noticia">
          <ion-label>{{ noticia.titulo }}</ion-label>

          <img [src]="noticia.imagenes | comprobarImagen" class="slide-image">
          
          <ion-label>{{ noticia.descripcion.slice(0, 100) }}...</ion-label>
       
        </ion-item>

      </ion-list>
  

</ion-content>