
<ion-content class="center">
  <div class="background-opacity"></div>
  
  <div class="container">
    <app-header titulo="Noticia"></app-header>

    <div class="header-container">
      <img src="assets/icon/white-icon.png" alt="Blue icon">
    </div>

    <div class="form-container">

      <div class="container-news" *ngIf="noticia">
        <ion-slides class="images" [options]="slideOpts">
          <ion-slide *ngFor="let imagen of noticia.imagenes" class="image" [style.background-image]="'url(' + (imagen | formatearImagen) + ')'"></ion-slide>
        </ion-slides>

        <div class="title">{{ noticia.titulo }}</div>
        <div class="date">{{ noticia.created_at | formatDate }}</div>

        <div class="description">{{ noticia.descripcion }}</div>
      </div>
    </div>
  </div>

</ion-content>
