/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.hidden {
    display: none;
}

body {
    font-family: Roboto var(--ion-font-family);
}

ion-item {
    --border-color: transparent;
    &.item-interactive.ion-invalid {
        // --highlight-background: var(--highlight-color-invalid);
        --highlight-background: transparent !important;
        ion-input.ion-invalid.has-focus {
            border-color: var(--highlight-color-invalid);
        }
    }
    &.item-interactive.ion-valid {
        // --highlight-background: var(--highlight-color-valid);
        --highlight-background: transparent !important;
        ion-input.ion-valid.has-focus {
            border-color: var(--highlight-color-valid);
        }
    }
}

ion-input,
ion-textarea,
ion-select,
ion-select .select-placeholder,
ion-select-option {
    opacity: 1;
    color: #3B3E51 !important;
    --color: #3B3E51 !important;
}

ion-input,
ion-select {
    border: 1px solid #D1D1D1;
    border-radius: 50px;
    --padding-top: 0.8em !important;
    --padding-bottom: 0.8em !important;
    --padding-start: 1em !important;
}

.bg-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.bg-warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.bg-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
}

ion-searchbar {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.searchbar-input.sc-ion-searchbar-md {
    border-radius: 15px;
}