<app-header titulo="Usuarios">

</app-header>

<ion-content class="center">

<ion-card>
  <ion-label>Actualizar user</ion-label>  
</ion-card>

<ion-card mode="ios" *ngIf="user && user.id == 1">
  
  <form [formGroup]="formulario" (ngSubmit)="actualizar()">
    
    <!-- El que creo la denuncia para editar la denuncia en caso de errores-->
    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label><br><br>
      <ion-input formControlName="name">
      </ion-input>
    </ion-item>  
    
    <ion-button type="submit">Actualizar</ion-button>
    
  </form>
  
</ion-card>

</ion-content>