

<ion-content>

  <div class="background-opacity"></div>
  
  <div class="container">
    <app-header titulo="Actualizar usuario"></app-header>

    <!-- <div class="header-container">
      <img src="assets/icon/white-icon.png" alt="Blue icon">
    </div> -->
  
    <div class="form-container">
      <form [formGroup]="formulario" (ngSubmit)="actualizar()">
        
        <ion-list>

          <div class="icon-container">
            <img src="assets/icon/blue-icon.png" alt="Blue icon">
          </div>
      
          <ion-item>
            <ion-label position="floating">Nombre y Apellido</ion-label>
            <ion-input type="text" formControlName="name">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" 
                      name="email"
                      pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-zA-Z]{2,4}"
                      formControlName="email"
                      required>
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">C.I</ion-label>
            <ion-input type="text" formControlName="ci">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Teléfono</ion-label>
            <ion-input type="text" formControlName="telefono">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Barrio</ion-label>

            <ion-select formControlName="id_barrio">
              <ion-select-option *ngFor="let barrio of barrios" [value]="barrio.id">{{ barrio.descripcion }}</ion-select-option>
            </ion-select>
          </ion-item>
            
          <!-- admin -->
          <ion-item *ngIf="user && user.role && user.role.nivel == 1">
            <ion-label position="floating">Rol Usuario</ion-label>
              <ion-select formControlName="id_role">
                <ion-select-option *ngFor="let rol of roles" [value]="rol.id">{{ rol.nombre }}</ion-select-option>
              </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Estado</ion-label>
            <ion-select placeholder="Selecciona estado" formControlName="estado">
              <ion-select-option [value]="1">Activo</ion-select-option>
              <ion-select-option [value]="0">Desactivo</ion-select-option>
            </ion-select>
          </ion-item>  
          
          <div class="button-group">
            <ion-button 
              expand="block"
              shape="round"
              type="submit"
              [disabled]="formulario.invalid"
              color="primary">
              ACTUALIZAR
            </ion-button>
          </div>

        </ion-list>
      </form>
    </div>
  </div>
</ion-content>
