.card-user {
    width: 100%;
    --background: #f6f6f6;
    box-shadow: none;
    margin-bottom: 0px;

    ion-card-content {
        padding: 0px;
    }

    ion-text {
        display: flex;
        align-items: center;
    }

    h2 {
        margin: 0px;
    }

    ion-button {
        --padding-start: 0.7em;
        --padding-end: 0.7em;
        --border-color: transparent;
    }

    ion-icon {
        font-size: 15px;
    }

    .fecha-user {
        font-size: 11px;
    }

    .user-name {
        font-size: 20px;
    }
}
